<div class="container">
  <div class="custom-eigth-container custom-vertical-spacing">
    <h1>Schedule appointment</h1>
    <% coach_names = [] %>
    <% @coaches.each do |coach| %>
      <% coach_names << ["#{coach.coach_record.first_name} #{coach.coach_record.last_name}", coach.id] %>
    <% end %>

    <%= simple_form_for [current_user, @consultation] do |f| %>
      <%= f.input :start_time, as: :datetime, order: [:day, :month, :year] %>
      <%= f.input :coach_id, as: :radio_buttons, collection: coach_names, class: 'form-control' %>
      <%= f.button :submit, "Schedule", class: "btn btn-primary" %>
      <%= f.input :plan_id, as: :hidden, input_html: { value: @plan.id } %>
    <% end %>
  </div>

</div>