<div class="container">
  <h1>Appointment Details</h1>

  <p><%= "Schedule: #{@consultation.start_time.strftime("%A %b %d %T")} to #{@consultation.end_time.strftime("%T")}" %></p>
  <p>Duration: 1 hour - Please be present 15 min. before the appointment</p>

  <h2><%= "#{@consultation.plan.name} Plan" %></h2>

  <p><%= "Remember! The goal is #{@consultation.plan.goal_description}" %></p>

  <p><%= "Patient: #{@consultation.patient.patient_record.first_name.capitalize} #{@consultation.patient.patient_record.last_name.capitalize}" %></p>
  <p><%= "Coach: #{@consultation.coach.coach_record.first_name.capitalize} #{@consultation.coach.coach_record.last_name.capitalize}" %></p>

  <p><%= "Address: #{@consultation.coach.coach_record.address}" %></p>

  <%= button_to 'Got it!', '/dashboard', method: :get %>
  <br>
  <% if @consultation.review.present? %>
    <p><%= "Patient Comment: #{@consultation.review.comment}" %></p>
    <p><%= "Rating: #{@consultation.review.coach_rating}/5" %></p>
    <%= button_to 'Edit review', edit_review_path(@consultation.review), method: :get %>
  <% else %>
    <%= button_to 'Leave a review', new_consultation_review_path(@consultation), method: :get %>
  <% end %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= 'pk.eyJ1IjoiYmVydmVjbyIsImEiOiJja2Jia2FzZzgwMWVuMnJvZGU4bGw1OGFxIn0.9C4KHDmcmZo0Ocn6qQ-Ejg' %>">
</div>