<div class="container custom-vertical-spacing">
  <% if @plans_unique.empty? %>
    <div class="container-dashborad-empty">
      <div>
        <h1><%= "Welcome #{@user.patient_record.first_name}!" %></h1>
      </div>
      <%= link_to "Subscribe to a plan", plans_path, method: :get, class: "btn btn-primary btn-dashboard" %>
    </div>
  <% else %>
  <h1><%= "Welcome #{@user.patient_record.first_name}!" %></h1>
  <div class="custom-user-plans">
    <% @plans_unique.each do |plan| %>
      <div class="card custom-card-static custom-padding card-dashboard">
        <div class="custom-description-dashboard">
          <h2><%= link_to "#{plan.name}", plan_path(plan), method: :get %></h2>
          <p><b>Remember your goal!</b></p><p><%= plan.goal_description %></p>
        </div>
          <div class="card custom-card-appointments" >
            <% consultation = @consultations.where(plan: plan).last %>
            <div class="card-body card-appointment">
              <div>
                <h4>Your Next Appointment</h4>
                <h5><%= "Coach - #{consultation.coach.coach_record.first_name} #{consultation.coach.coach_record.last_name}" %></h5>
                <p><%= consultation.start_time.strftime("Date: %A %b %d %r") %></p>
              </div>
              <div>
                <%= link_to 'Appointment Details', consultation_path(consultation), method: :get, class: "btn btn-success mr-5" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

