<div class="container custom-vertical-spacing">
  <h1><%= "Welcome back #{@user.patient_record.first_name}" %></h1>
  <div class="custom-user-plans">
    <% @plans_unique.each do |plan| %>
      <div class="card custom-card-static custom-padding d-flex flex-row">
        <div class="custom-description-dashboard">
          <h2><%= plan.name %></h2>
          <p><b>Remember your goal!</b></p><p><%= plan.goal_description %></p>
        </div>
        <div class="card custom-card-appointments" >
          <% consultation = plan.consultations.last %>

                <div class="card-body d-flex justify-content-between">
                  <div class="">
                    <h5><%= "#{consultation.coach.coach_record.first_name} #{consultation.coach.coach_record.last_name}" %></h5>
                    <p><%= consultation.start_time.strftime("Date: %A %b %d %r") %></p>
                  </div>
                  <div>
                    <%= link_to 'Next Appointment', consultation_path(consultation), method: :get, class: "btn btn-success mr-5" %>
                  </div>
                </div>

            </div>
      </div>
    <% end %>
  </div>
</div>
