<div class="container">

  <h1>My profile</h1>

  <%if @user.kind == "patient" %>
    <% if @record == nil %>
      <%= render 'patient_records/new' %>
    <% else %>
      <p><%= @record.first_name %></p>
      <p><%= @record.last_name %></p>
      <p><%= @user.email %></p>
      <p><%= @record.phone %></p>
      <p><%= @record.gender %></p>
      <p><%= @record.birth_date %></p>
      <p><%= @record.weight %></p>
      <p><%= @record.height %></p>
      <p><%= @record.description %></p>
    <% end %>
  <% else %>
    <% if @record == nil %>
      <%= render 'coach_records/new' %>
    <% else %>
      <p><%= @record.first_name %></p>
      <p><%= @record.last_name %></p>
      <p><%= @user.email %></p>
      <p><%= @record.phone %></p>
      <p><%= @record.certification_number %></p>
      <p><%= @record.specialty %></p>
      <p><%= @record.description %></p>
      <%= link_to 'Edit', edit_user_path(@user) %> 
    <% end %>
  <% end %>

</div>
