<div class="container">
  <div class="custom-eigth-container custom-form-spacing">
    <h2>Please fill the following information</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="custom-eigth-container custom-form-spacing">
    <%= render "devise/shared/links" %>
  </div>

  <h1>Fill in your info</h1>
  <%= simple_form_for [current_user, @patient_record] do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone %>
    <%= f.input :gender %>
    <%= f.input :birth_date %>
    <%= f.input :weight %>
    <%= f.input :height %>
    <%= f.input :medical_condition %>
    <%= f.input :description %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
