<h1>Patient Profile</h1>

<p><%= @patient_record.first_name %></p>
<p><%= @patient_record.last_name %></p>
<p><%= @patient_record.user.email %></p>
<p><%= @patient_record.phone %></p>
<p><%= @patient_record.gender %></p>
<p><%= @patient_record.birth_date %></p>
<p><%= @patient_record.weight %></p>
<p><%= @patient_record.height %></p>
<p><%= @patient_record.description %></p>
