<div class="container">
  <div class="custom-eigth-container custom-vertical-spacing">
    <h1>Fill in your info</h1>
    <%= simple_form_for @coach_record do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone %>
      <%= f.input :certification_number %>
      <%= f.input :specialty %>
      <%= f.input :description %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
