<div class="container">
  <h1>Coach Profile</h1>
  <p><%= @coach_record.first_name %></p>
  <p><%= @coach_record.last_name %></p>
  <p><%= @coach_record.user.email %></p>
  <p><%= @coach_record.phone %></p>
  <p><%= @coach_record.certification_number %></p>
  <p><%= @coach_record.specialty %></p>
  <p><%= @coach_record.description %></p>
  <%= button_to 'Back to Plan', url_for(:back), method: :get %>
</div>


