<div class="container">
  <div class="custom-plans-container">
    <% @plans.each_with_index do |plan, index| %>
      <div class="card custom-card">
        <% plan_pictures = ['plan_1_acxcun','plan_2_vwme0f','plan_3_hnu5n4','plan_4_pfdfwf','plan_5_rbvghf','plan_6_fgesi9','plan_7_yn7czo','plan_8_bowbl5','plan_9_cp9yf6','plan_10_yncibx','plan_11_tttsf7','plan12_bdstia'] %>
        <%= cl_image_tag(plan_pictures[index], transformation: {
          dpr: "auto",
          responsive: true,
          width: "auto",
          height: 310,
          crop: "scale"
        }) %>
        <div class="card-body">
          <h5 class="card-title"><%= plan.name %></h5>
          <p class="card-text"><%=h truncate(plan.description, length: 90) %></p>
          <% if user_signed_in? %>
            <%= link_to "Go to plan", plan_path(plan), class: "btn btn-primary" %>
          <% else %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target='#plan<%= plan.id %>' >
              View plan
            </button>
            <div class="modal fade" id='plan<%= plan.id %>' tabindex="-1" role="dialog" aria-labelledby="plan<%= plan.id %>CenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content custom-padding-sm">
                  <div class="modal-header custom-modal-header">
                    <h4 class="modal-title" id="plan<%= plan.id %>LongTitle"><%= plan.name %></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div>
                      <p> <%= plan.description.capitalize %> </p>
                      <h5 class="text-success"> Goal description: </h5>
                      <p> <%= plan.goal_description %> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
