<div class="container">
  <div class="custom-plans-container">
    <% @plans.first(12).each do |plan| %>
      <div class="card custom-card">
        <%= image_tag "https://source.unsplash.com/collection/779536/1000x700", alt: "alttext", class: "custom-card-image"  %>
        <div class="card-body">
          <h5 class="card-title"><%= plan.name %></h5>
          <p class="card-text"><%= plan.description %></p>
          <% if user_signed_in? %>
            <%= link_to "Go to plan", plan_path(plan), class: "btn btn-primary" %>
          <% else %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              View plan
            </button>

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content custom-modal custom-padding-sm">
                  <div class="modal-header custom-modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><%= plan.name %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="d-flex">
                      <%= image_tag "https://source.unsplash.com/collection/631011", alt: "alttext",  style: 'width:35%; object-fit:cover;' %>
                      <div class="custom-padding">
                        <p> <%= plan.description.capitalize %> </p>
                        <p> <%= plan.goal_description %> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
