<div class="container">

  <h1><%= @plan.name %> </h1>
  <h2><%= @plan.category.name %></h2>
  <hr>
  <p><%= @plan.description %></p>
  <p><%= "#{@plan.duration} months" %></p>
  <p><%= "#{@plan.number_of_consultations} appointments per week"%></p>
  <hr>
  <ul>
    <% @coaches.each do |coach| %>
      <li>
      <%= "#{coach.coach_record.first_name.capitalize} #{coach.coach_record.last_name.capitalize}" %>
      <%# send to coach profile %>
      <%= button_to 'See Coach Profile', user_path(coach), method: :get %>
      </li>
    <% end %>
  </ul>

  <%= button_to 'Book Appointment', new_user_consultation_path(current_user), method: :get %>
</div>