<h1><%=@plan.name%> </h1>

#link to coaches
<%= link_to 'View Plan', plan_path(@plan) %> 
<ul>
  <% @coaches.each do |coach| %>
    <li>
    <%= "#{coach.coach_record.first_name.capitalize} #{coach.coach_record.last_name.capitalize}" %>
    <%# send to coach profile %>
    <%= link_to 'See Coach Profile', user_path(coach) %>
     <%# send to consultation/new %>
    <%= link_to 'Select Coach for Appointment', user_path(coach) %> 
    </li>
  <% end %>
</ul>